body {
    background-color: grey;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    background-color: var(--seahawk-green);
    width: 100%;
    hieght: 40vh;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 1);
}

#navlist {
    display: flex;
    justify-content: space-around;
    background-color: green;
    width: 670px;
    padding: .4rem;
    font-size: 18px;
}

li {
    list-style: none;
    color: #fff;
    font-size: 2rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 3rem;
    row-gap: 7rem;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.picDivs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
    width: 165px;
    height: 200px;
    background-color: azure;
}

.charDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scene {
    width: 200px;
    height: 260px;
    border: 1px solid #CCC;
    margin: 40px 0;
    perspective: 600px;
    justify-content: center;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(-180deg);
}


/*.card img {
        width: 80%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -80%);
        .card.is-flipped {
            transform: rotateY(180deg);
        }*/

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    /*line-height: 260px;*/
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
    border-radius: 5px;
}

.card_face--front {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    background-color: azure;
    backface-visibility: hidden;
}

.card_face--back {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: skyblue;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0px;
    font-size: 18px;
    line-height;
    ;
}

#new_pokemon {
    width: 140px;
    height: 100px;
    background-color: #ffcb05;
    font-size: 1.5rem;
    margin: 20px;
}
