html {
    font-family: 'Merriweather Sans', sans-serif;
    box-sizing: border-box;
    background-image: url("https://cdn.pixabay.com/photo/2016/06/03/16/36/us-flag-1433760_960_720.jpg");
    background-repeat: y-axis;
}

header {
    display: flex;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    background-color: var(--seahawk-green);
    width: 100%;
    height: 8vh;
    /*box-shadow: 0 2px 0 rgba(0, 0, 0, 1);*/
}

#navlist {
    display: flex;
    justify-content: space-around;
    background-color: green;
    width: 170px;
    padding: .4rem;
    font-size: 18px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 1);
}

#navlist a {
    display: block;
    font-size: 2rem;
    padding: .5rem;
}

#navlist a:hover {
    background-color: #07d16c;
    padding: .5rem;
}

li {
    list-style: none;
    color: #fff;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

div.keepOpen {
    clear: both;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(2, 2, 252);
    width: 100%;
    height: 27vh;
    background: rgba(194, 175, 175, 0.705);
    margin-bottom: 35px;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-top: 55px;
}

h2 {
    font-size: 1.5rem;
    animation-duration: 3s;
    animation-name: slidein;
    margin-bottom: 26px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.card-Image {
    box-shadow: 5px 1px 10px #000;
}

.card-content {
    box-shadow: 5px 9px 10px #000;
    max-width: 100%;
    padding: 9px;
    margin-top: 10px;
}

.partyColor {
    height: 50px;
    width: 35px;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.democrat {
    background-color: #232066;
}

.republican {
    background-color: #983D3D;
}

.independent {
    color: black;
    border: 1px solid red;
    font-size: 1.75rem;
    width: 38px;
}

.votes {
    justify-content: space-between;
}

.gap {
    margin-bottom: 100px;
}

.card {
    height: 100%;
    width: 100%;
}